<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<appender name="CONSOLELOG" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>[%d{dd-MMM-yyyy hh:mm:ss}]%p %c - %m%n</pattern>
		</encoder>
	</appender>
	<appender name="FILELOG"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<!--See also http://logback.qos.ch/manual/appenders.html#RollingFileAppender -->
		<File>logs/testlogs.log</File>
		<encoder>
			<pattern>[%d{dd-MMM-yyyy hh:mm:ss}]%p %c - %m%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<maxIndex>1</maxIndex>
			<FileNamePattern>logs/testlogs.log.%i</FileNamePattern>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<!-- <MaxFileSize>50MB</MaxFileSize> -->
			<MaxFileSize>1KB</MaxFileSize>
		</triggeringPolicy>
	</appender>
	<logger name="org.apche" level="OFF" />
	<logger name="org.springframework" level="OFF" />
	<logger name="com.ddlab" level="DEBUG" />
<!-- 	<logger name="com.ddlab" level="DEBUG|INFO|WARN|ERROR|FATAL" /> -->
	<root level="debug">
		<appender-ref ref="CONSOLELOG" />
		<appender-ref ref="FILELOG" />
	</root>

</configuration>